h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

/* Options
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.select-option {
	width: 150px;
}

.validate-error{
  border: 2px solid #ff0000 !important;
}

.div-button{
	position: absolute;
	right: 0;    
}


.div-label,
.div-input{
	width: 50%;
	display: inline-block;
}

.front{
  display: block;
}

.front-effect {
  display: none;
}

.div-action-icon{
	position: relative;
	left: 90%;
	display: inline-block;
	padding-right: 5px;
}

.div-action-icon:hover .front {
  display: none;
}

.div-action-icon:hover .front-effect {
  display: block;
  cursor: pointer;
}