.table-wrapper{
    width: 100%; 
    position: relative;  
    background: #efefef; 
    overflow: hidden;
  }

.table-content{
  overflow-y: scroll; 
  height: 150px; 
  border-top: 41px solid transparent;  
  border-bottom: 41px solid transparent;
}


table{
  font-size: 1.000em;
  border-spacing: 0;
  border-collapse: collapse; 
  width: 100%;
  color: #000;
}

/*td{
  border-top: 1px solid #000;
}

td + td {
  border-left: 1px solid #000;
}*/

td, th {
  /*border-bottom: 1px solid #000;*/
  padding: 5px;
}




thead tr th,
tfoot tr td {
  height: 0;
  line-height: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}

thead tr th div,
tfoot tr td div {
  position: absolute;
  color: #000;
  line-height: normal;
  z-index: 2;
  text-align: left;
  font-weight: bold;
  font-size: 1.188em;
  width: 100%;
  padding: 10px 5px 5px 0;
}




tfoot tr td div.col-footer,
thead tr th div.col-header{
  /*background: #848484;*/
  /*background-color: #A3A3A3;*/
}

thead tr th div {
  top: 0;
}

tfoot tr td div {
  bottom: 0;
}

thead tr th:first-child div,
tfoot tr td:first-child div {
  border-left: none;
}


.black{
  display: block;
}

.red {
  display: none;
}

.action-icon{
  display: inline-block;
  padding-right: 5px;
}


tr .action-icon:hover .black {
  display: none;
}

tr .action-icon:hover .red {
  display: block;
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

th{
  text-align: left;
}

